In [1]:
%autosave 0

Autosave disabled

In [59]:
import pandas as pd
import numpy as np
import datetime

import re

regex = r"([0-9]{4}-[0-9]{2})-([0-9]{2})"

In [60]:
train = pd.read_csv('train.csv', sep='|')
items = pd.read_csv('items.csv', sep='|')

items = items.fillna("None")
train = train.fillna("None")

In [61]:
month = []
for i in train["date"]:
    month.append(re.search(regex, i).group(1))

In [62]:
train.insert(1,"month",month)

In [63]:
def groupData(data, field):
    agg = data.groupby(field)
    splited = []
    for group in agg:
        splited.append(pd.DataFrame(data = group[1], columns=data.columns.values))
    return splited

In [64]:
splited_train = groupData(train,['pid','size','month'])

In [65]:
splited_train[11]

             date    month    pid size  units
36998  2017-11-06  2017-11  10008   XL      1
46534  2017-11-16  2017-11  10008   XL      1

In [66]:
def insert_column (data,fields,fields_name):
    index = len(data.columns)-1
    for i in range(len(fields_name)):
        data.insert(index + i,fields_name[i],fields[fields_name[i]],True)
    return data

In [67]:
names = ["pid","size","month","units","color","brand","rrp","mainCategory","category","subCategory","n_dias","media_vendas","target"]
datas = []

for product in splited_train:
    data_i = {}
    # variaveis primárias
    data_i['pid'] = product["pid"].iloc[0]
    data_i['size'] = product["size"].iloc[0]
    data_i['month'] = product["month"].iloc[0]
    data_i['units'] = 0
    for i in product["units"].iloc[:]:
        data_i['units'] += int(i)
    
    #importando dados da outra tabela
    dados = items[items["pid"]==data_i['pid']][items["size"]==data_i['size']]
    data_i['color'] = dados["color"].iloc[0]
    data_i['brand'] = dados["brand"].iloc[0]
    data_i['rrp'] = float(dados["rrp"].iloc[0])
    data_i['mainCategory'] = dados["mainCategory"].iloc[0]
    data_i['category'] = dados["category"].iloc[0]
    data_i['subCategory'] = dados["subCategory"].iloc[0]
    
    #novas variáveis
    data_i['n_dias'] = len(product)
    data_i['media_vendas'] = data_i['units']/data_i['n_dias']
    
    
    #target
    
    data_i['target'] = int(re.search(regex, product["date"].iloc[-1]).group(2))
    
    datas.append(data_i)

/home/victor/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [68]:
data = pd.DataFrame(data = datas, columns = names)

In [69]:
data

,pid,size,month,units,color,brand,rrp,mainCategory,category,subCategory,n_dias,media_vendas,target
0,10000,XL ( 158-170 ),2017-11,1,gruen,Nike,25.33,1,7,25,1,1.000000,20
1,10001,L,2017-11,1,schwarz,Jako,38.03,1,7,16,1,1.000000,25
2,10001,L,2017-12,1,schwarz,Jako,38.03,1,7,16,1,1.000000,2
3,10001,L,2018-01,2,schwarz,Jako,38.03,1,7,16,2,1.000000,23
4,10003,3 (35-38 ),2017-10,1,weiss,Jako,12.63,1,7,13,1,1.000000,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31930,22878,XL,2017-12,2,schwarz,adidas,76.13,1,7,14,1,2.000000,28
31931,22881,S,2017-10,3,grau,adidas,139.63,1,7,31,3,1.000000,13
31932,22881,S,2017-11,2,grau,adidas,139.63,1,7,31,2,1.000000,13
31933,22881,S,2017-12,4,grau,adidas,139.63,1,7,31,3,1.333333,31
31934,22881,S,2018-01,5,grau,adidas,139.63,1,7,31,5,1.000000,31

In [70]:
categories = pd.get_dummies(data['category'])
mainCategories = pd.get_dummies(data['mainCategory'])
subCategories = pd.get_dummies(data['subCategory'])
color = pd.get_dummies(data['color'])
brand = pd.get_dummies(data['brand'])

In [71]:
categories.columns = ['cat-2', 'cat-7', 'cat-10', 'cat-16', 'cat-18', 'cat-24', 'cat-30', 'cat-33', 'cat-36', 'cat-37']
mainCategories.columns = ['mcat-1', 'mcat-9', 'mcat-15']
subCategories.columns = [ 'subcat-3.0',    'subcat-4.0',    'subcat-5.0',    'subcat-6.0',    'subcat-8.0',   'subcat-11.0',   'subcat-12.0',   'subcat-13.0',   'subcat-14.0',
         'subcat-16.0',   'subcat-17.0',   'subcat-19.0',   'subcat-20.0',   'subcat-21.0',   'subcat-22.0',   'subcat-23.0',   'subcat-25.0',   'subcat-26.0',
         'subcat-27.0',   'subcat-28.0',   'subcat-29.0',   'subcat-31.0',   'subcat-32.0',   'subcat-34.0',   'subcat-35.0',   'subcat-38.0',   'subcat-39.0',
         'subcat-40.0',   'subcat-41.0',   'subcat-42.0',   'subcat-43.0',   'subcat-44.0', 'subcat-None']

In [72]:
data = insert_column(data,categories, categories.columns)
data = insert_column(data,mainCategories, mainCategories.columns)
data = insert_column(data,subCategories, subCategories.columns)
data = insert_column(data, color, color.columns)
data = insert_column(data, brand, brand.columns)

In [73]:
data = data.drop(['category'], axis=1)
data = data.drop(['mainCategory'], axis=1)
data = data.drop(['subCategory'], axis=1)
data = data.drop(['color'], axis=1)
data = data.drop(['brand'], axis=1)

In [74]:
data

,pid,size,month,units,rrp,n_dias,media_vendas,cat-2,cat-7,cat-10,...,PUMA,Reebok,Reusch,Sells,Sport2000,Stance,Uhlsport,Under Armour,adidas,target
0,10000,XL ( 158-170 ),2017-11,1,25.33,1,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,0,20
1,10001,L,2017-11,1,38.03,1,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,0,25
2,10001,L,2017-12,1,38.03,1,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,0,2
3,10001,L,2018-01,2,38.03,2,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,0,23
4,10003,3 (35-38 ),2017-10,1,12.63,1,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31930,22878,XL,2017-12,2,76.13,1,2.000000,0,1,0,...,0,0,0,0,0,0,0,0,1,28
31931,22881,S,2017-10,3,139.63,3,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,1,13
31932,22881,S,2017-11,2,139.63,2,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,1,13
31933,22881,S,2017-12,4,139.63,3,1.333333,0,1,0,...,0,0,0,0,0,0,0,0,1,31
31934,22881,S,2018-01,5,139.63,5,1.000000,0,1,0,...,0,0,0,0,0,0,0,0,1,31

In [75]:
data.to_csv("newTrain.csv")