In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
train = pd.read_csv('train.csv', sep='|')
items = pd.read_csv('items.csv', sep='|')

In [5]:
items = items.fillna("None")
train = train.fillna("None")

In [6]:
def groupData(data, field):
    agg = data.groupby(field)
    splited = []
    for group in agg:
        splited.append(pd.DataFrame(data = group[1], columns=data.columns.values))
    return splited

In [7]:
splited_train = groupData(train,['pid','size'])

In [8]:
splited_items = groupData(items,['pid','size'])

In [10]:
datas = []
for group in splited_train:
    datas.append(group.iloc[0].date)

In [11]:
def insert_column (data,fields,fields_name):
    index = len(data.columns)-1
    for i in range(len(fields)):
        data.insert(index + i,fields_name[i],fields[i],True)
    return data

In [12]:
items = insert_column(items,[datas],['firstOut'])

In [13]:
items[items['firstOut'] >= items['releaseDate']]

,pid,size,color,brand,rrp,mainCategory,category,subCategory,stock,firstOut,releaseDate
0,10000,XL ( 158-170 ),gruen,Nike,25.33,1,7,25,1,2017-11-20,2017-10-01
1,10001,L,schwarz,Jako,38.03,1,7,16,1,2017-11-25,2017-10-01
2,10003,3 (35-38 ),weiss,Jako,12.63,1,7,13,1,2017-10-22,2017-10-01
3,10003,4 ( 39-42 ),weiss,Jako,12.63,1,7,13,1,2017-11-30,2017-10-01
4,10003,5 ( 43-46 ),weiss,Jako,12.63,1,7,13,1,2017-10-15,2017-10-01
...,...,...,...,...,...,...,...,...,...,...,...
12819,22878,2XL,schwarz,adidas,76.13,1,7,14,1,2017-11-13,2017-10-23
12820,22878,L,schwarz,adidas,76.13,1,7,14,2,2017-12-28,2017-10-23
12821,22878,M,schwarz,adidas,76.13,1,7,14,1,2017-11-24,2017-10-23
12822,22878,XL,schwarz,adidas,76.13,1,7,14,1,2017-12-28,2017-10-23
12823,22881,S,grau,adidas,139.63,1,7,31,1,2017-10-10,2017-10-01

In [18]:
sum_stock = []

for group in splited_train:
    sum_stock.append(sum(group.units))

In [20]:
items = insert_column(items,[sum_stock],['sum'])

In [23]:
items

,pid,size,color,brand,rrp,mainCategory,category,subCategory,stock,firstOut,sum,releaseDate
0,10000,XL ( 158-170 ),gruen,Nike,25.33,1,7,25,1,2017-11-20,1,2017-10-01
1,10001,L,schwarz,Jako,38.03,1,7,16,1,2017-11-25,4,2017-10-01
2,10003,3 (35-38 ),weiss,Jako,12.63,1,7,13,1,2017-10-22,15,2017-10-01
3,10003,4 ( 39-42 ),weiss,Jako,12.63,1,7,13,1,2017-11-30,3,2017-10-01
4,10003,5 ( 43-46 ),weiss,Jako,12.63,1,7,13,1,2017-10-15,11,2017-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...
12819,22878,2XL,schwarz,adidas,76.13,1,7,14,1,2017-11-13,3,2017-10-23
12820,22878,L,schwarz,adidas,76.13,1,7,14,2,2017-12-28,3,2017-10-23
12821,22878,M,schwarz,adidas,76.13,1,7,14,1,2017-11-24,4,2017-10-23
12822,22878,XL,schwarz,adidas,76.13,1,7,14,1,2017-12-28,2,2017-10-23
12823,22881,S,grau,adidas,139.63,1,7,31,1,2017-10-10,14,2017-10-01

In [32]:
items.columns = ['pid','size','color','brand','rrp','mainCategory','category','subCategory','stock_2018-02-01','firstOut','sum','releaseDate']

In [36]:
more_than_one = []
for gp in splited_train:
    if(len(gp) > 1):
        more_than_one.append(gp)

In [38]:
len(more_than_one)

10393

In [47]:
items[items['pid']==18944]

,pid,size,color,brand,rrp,mainCategory,category,subCategory,stock_2018-02-01,firstOut,sum,releaseDate
8978,18944,42,schwarz,adidas,253.93,1,2,3,1,2018-01-25,1,2017-12-13

In [49]:
splited_train[8978]

              date    pid size  units
125696  2018-01-25  18944   42      1